<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 配置SessionFactory -->
	<session-factory>
		<!-- JDBC连接URL -->
		<property name="connection.url">
			jdbc:mysql://localhost:3306/test
		</property>
		<!-- 数据库用户名 -->
		<property name="connection.username">root</property>
		<!-- 数据库密码 -->
		<property name="connection.password">123456</property>
		<!-- 数据库JDBC驱动类名 -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- 数据库别名 -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<!-- Item实体的映射配置文件路径 -->
		<mapping
			resource="com/test/domain/Item.hbm.xml" />
		<!-- Order实体的映射配置文件路径 -->
		<mapping
			resource="com/test/domain/Order.hbm.xml" />
		<!-- Product实体的映射配置文件路径 -->
		<mapping
			resource="com/test/domain/Product.hbm.xml" />
		<!-- User实体的映射配置文件路径 -->
		<mapping
			resource="com/test/domain/User.hbm.xml" />
	</session-factory>
</hibernate-configuration>